:root {
  --light-grey: #dadada;
  --purple-text: #721572;
}

body {
  background-color: var(--light-grey);
}

/* NAVIGATION */

.logo {
  height: 30px;
}

.user-account-area span {
  font-style: normal;
  margin-left: 0.25rem;
}

.user-profile-img {
  border-radius: 50%;
}

.carousel-item img {
  max-height: 500px;
  object-fit: cover;
}

/* HIGHLIGHTS SECTION */

.highlights-card-img {
  height: 175px;
  object-fit: cover;
}

.badge-purple {
  background-color: var(--purple-text);
  color: white;
}

.old-price {
  text-decoration: line-through;
  font-size: 0.75rem;
}

.my-spinner {
  height: 30px;
  width: 30px;
  border: 6px solid var(--purple-text);
  border-radius: 50%;
}

.purple-text {
  color: var(--purple-text);
}

.hide-item {
  opacity: 0;
}

/* SALE CAROUSEL */

.sale-carousel-img {
  min-height: 800px;
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
}

.sale-1 {
  background-image: url("./images/tile\ \(1\).jpg");
}

.sale-2 {
  background-image: url("./images/tile\ \(29\).jpg");
}

.sale-3 {
  background-image: url("./images/tile\ \(36\).jpg");
}

.sale-4 {
  background-image: url("./images/tile\ \(18\).jpg");
}

/* DISCOVER SECTION */

.discover-img {
  height: 100px;
  width: 200px;
  object-fit: cover;
}

.discover-1 {
  background-image: url("./images/tile\ \(11\).jpg");
}

.discover-2 {
  background-image: url("./images/tile\ \(12\).jpg");
}

.discover-3 {
  background-image: url("./images/tile\ \(13\).jpg");
}

.discover-4 {
  background-image: url("./images/tile\ \(14\).jpg");
}

.discover-5 {
  background-image: url("./images/tile\ \(15\).jpg");
}

.discover-6 {
  background-image: url("./images/tile\ \(16\).jpg");
}

/* NEWS CAROUSEL */

.news-carousel-img {
  height: 250px;
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
}

.news-1 {
  background-image: url("./images/tile\ \(11\).jpg");
}

.news-2 {
  background-image: url("./images/tile\ \(12\).jpg");
}

.news-3 {
  background-image: url("./images/tile\ \(13\).jpg");
}

.news-4 {
  background-image: url("./images/tile\ \(14\).jpg");
}

.news-5 {
  background-image: url("./images/tile\ \(15\).jpg");
}

.news-6 {
  background-image: url("./images/tile\ \(16\).jpg");
}

.news-description {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(26, 26, 26);
  background: linear-gradient(
    0deg,
    rgba(26, 26, 26, 1) 0%,
    rgba(17, 17, 17, 0.7514356084230567) 36%,
    rgba(0, 0, 0, 0) 100%
  );
}

.bi-chat-fill {
  color: #fff;
}

/* FOOTER */

.social-icons {
  font-size: 1.25rem;
}

.links-area a {
  color: #fff;
  margin: 0 0.25rem;
}

.second-row {
  background-color: #3f3f3f;
}

.download-btn {
  background-color: var(--purple-text);
  color: white;
}

ul.languages li,
ul.currency li {
  list-style: none;
  margin: 0 0.5rem;
}

ul.languages li.selected,
ul.currency li.selected {
  color: #ff02ff;
}

.important-links a {
  color: rgb(109, 109, 109);
  margin: 0 0.5rem;
}

.cd-projekt {
  height: 40px;
}
