:root {
  --light-grey: #dadada;
  --purple-text: #721572;
}

body {
  background-color: var(--light-grey);
}

.user-account-area span {
  font-style: normal;
  margin-left: 0.25rem;
}

.user-profile-img {
  border-radius: 50%;
}

.carousel-item img {
  max-height: 500px;
  object-fit: cover;
}

.highlights-card-img {
  height: 175px;
  object-fit: cover;
}

.badge-purple {
  background-color: var(--purple-text);
  color: white;
}

.old-price {
  text-decoration: line-through;
  font-size: 0.75rem;
}

.my-spinner {
  height: 30px;
  width: 30px;
  border: 6px solid var(--purple-text);
  border-radius: 50%;
}

.purple-text {
  color: var(--purple-text);
}

.hide-item {
  opacity: 0;
}
