:root {
  --light-grey: rgb(218, 218, 218);
}

.user-account-area span {
  font-style: normal;
  margin-left: 0.25rem;
}

.user-profile-img {
  border-radius: 50%;
}

.light-grey-bg {
  background-color: var(--light-grey);
}

.carousel-item img {
  max-height: 500px;
  object-fit: cover;
}
